<div class="mdl-grid demo-content">
    <!-- General Menu -->
    {{_navbarService.GetSelectedMenu()}}
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" [hidden]="!IsSelectedGeneral">
        <div class="mdl-cell mdl-cell--6-col">
            <ul class="demo-list-item mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                  <a class="mdl-link menu-link" [routerLink]="['/main', {outlets: {'main-detail': ['search-product-type']}}]">
                  <i class="fa fa-address-book-o" aria-hidden="true"></i> Product Type</a>
                </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                <a class="mdl-link menu-link" [routerLink]="['/main', {outlets: {'main-detail': ['search-product-category']}}]">
                <i class="fa fa-address-book-o" aria-hidden="true"></i> Product Category</a>
              </span>
                </li>

                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                  <a class="mdl-link menu-link" [routerLink]="['/main', {outlets: {'main-detail': ['search-product']}}]">
                    <i class="fa fa-address-book" aria-hidden="true"></i> Product</a>
                </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                  <a class="mdl-link menu-link" [routerLink]="['/main', {outlets: {'main-detail': ['search-product-set']}}]">
                    <i class="fa fa-address-book" aria-hidden="true"></i> Product Set</a>
                </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                <a class="mdl-link menu-link" [routerLink]="['/main', {outlets: {'main-detail': ['search-uom']}}]">
                  <i class="fa fa-address-book" aria-hidden="true"></i> Uom</a>
              </span>
                </li>
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <ul class="demo-list-item mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                  <a class="mdl-link menu-link" (click)="GotoCustomerType()">
                  <i class="fa fa-address-book-o" aria-hidden="true"></i> Customer Type</a>
                </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                <a class="mdl-link menu-link" (click)="GotoCustomer()">
                <i class="fa fa-address-book-o" aria-hidden="true"></i> Customer</a>
              </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                  <a class="mdl-link menu-link" (click)="GotoSupplierType()">
                    <i class="fa fa-address-book" aria-hidden="true"></i> Supplier Type</a>
                </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                <a class="mdl-link menu-link" (click)="GotoSupplier()">
                  <i class="fa fa-address-book" aria-hidden="true"></i> Supplier</a>
              </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                  <a class="mdl-link menu-link" (click)="GotoShipper()"> Shipper</a>
                </span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sale Menu-->
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" [hidden]="!IsSelectedSale">
        <div class="mdl-cell mdl-cell--6-col">
            <ul class="demo-list-item mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                    <a class="mdl-link menu-link" [routerLink]="['/main', {outlets: {'main-detail': ['search-product-type']}}]">
                    <i class="fa fa-address-book-o" aria-hidden="true"></i>Product Type</a>
                  </span>
                </li>
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <ul class="demo-list-item mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                    <a class="mdl-link menu-link" (click)="GotoCustomerType()">
                    <i class="fa fa-address-book-o" aria-hidden="true"></i> Customer Type</a>
                  </span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Purchase Menu-->
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" [hidden]="!IsSelectedPurchase">
        Selected Purcyase
    </div>
</div>