<div class="body-login">
    <header>
        <h3>Forget Password</h3>
        <h5></h5>
    </header>
    <form>
        <div class="group">
            <input type="email" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}">
            <span class="highlight"></span><span class="bar"></span>
            <label>Email</label>
        </div>
        <button (click)="SendEmailPassword()" type="button" class="button buttonBlue">
          <i class="fa fa-envelope-o" aria-hidden="true"></i> Send Email Password
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <div class="group forget-password">
            <a (click)="BacktoLogin()">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Login
            </a>
        </div>
    </form>
</div>