/deep/ md-tab-group {
    width: 100%;
}

.product-form {
    width: 100%;
}

.product-form-col {
    width: 50%;
}

.input-full-width {
    width: 100%;
}

.input-40-width {
    width: 40%;
}

.input-10-width {
    width: 10%;
}

.input-33-width {
    width: 33.33%;
}

.grid-container {
    min-height: 100% !important;
}