<div class="body-login">
    <header>
        <h3>Login to KZHWEB</h3>
        <h5></h5>
    </header>
    <form>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-12">
                <input required autofocus type="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-12">
                <input required type="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="Password" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <button (click)="Login()" type="button" class="button buttonBlue">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <!--
        <button (click)="GetMasterNewCode()" type="button" class="button buttonBlue">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Create Master Code
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <button (click)="GetTransactionNewCode()" type="button" class="button buttonBlue">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Create Transaction Code
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
      -->
        <div class="group">
            <div class="new-account">
                <a (click)="GotoSignup()">Not have an Account?</a>
            </div>
            <div class="forget-password">
                <a (click)="GotoForgetPassword()">Forget Password</a>
            </div>
        </div>
        <!--
        <div class="login-seperator">
            <div>
                <h5>Or</h5>
            </div>
        </div>

        <button (click)="LoginWithFacebook()" type="button" class="button buttonFacebook">
          <i class="fa fa-facebook" aria-hidden="true"></i> Sign in with Facebook
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <button (click)="LoginWithGoogle()" type="button" class="button buttonGoogle">
          <i class="fa fa-google" aria-hidden="true"></i> Sign in with Google
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <button (click)="LoginWithTwitter()" type="button" class="button buttonTwitter">
          <i class="fa fa-twitter" aria-hidden="true"></i> Sign in with Twitter
          <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>-->
    </form>
    <footer>

        <img src="assets/images/kzhapp-150-150.png">
        <p>v.1.0.000 </p>
    </footer>
    <!--
    <div id="print_div" #print_div>
        <table class="table table-striped">
            <thead *ngIf="showHead">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of datas; let i = index">
                    <td>{{i}}</td>
                    <td>{{user?.firstName}}</td>
                    <td>{{user?.lastName}}</td>
                    <td>{{user?.userName}}</td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="hideTable1" id="table1" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of datas; let i = index">
                    <td>{{i}}</td>
                    <td>{{user?.firstName}}</td>
                    <td>{{user?.lastName}}</td>
                    <td>{{user?.userName}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="kzh_print" #kzh_print>
        <div class="demo-list-action mdl-list">
            <div class="mdl-list__item">
                *** ขอบคุณลูกค้าทุกท่านที่ใช้บริการ ***
            </div>
            <div class="mdl-list__item">
                ใบส่งสินค้า
            </div>
            <div class="mdl-list__item">
                <img src="/assets/images/kzhapp-150-150.png">
            </div>
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>Bryan Cranston</span>
                </span>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
            </div>
            <div class="mdl-list__item">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable
        mdl-data-table__header--sorted-ascending
        mdl-data-table__header--sorted-descending pos-datatable">
                    <thead class="pos-datatable-thead">
                        <tr>
                            <th class="pos-theader">#</th>
                            <th class="mdl-data-table__cell--non-numeric pos-theader">Name</th>
                            <th class="mdl-data-table__cell--non-numeric pos-theader">Uom</th>
                            <th class="pos-theader">Qty.</th>
                            <th class="pos-theader">Price</th>
                            <th class="pos-theader">Disc.</th>
                            <th class="pos-theader">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="mdl-data-table__cell--non-numeric">ยางนอกมอเตอร์ไซค์ 70/90-17 IRC</td>
                            <td class="mdl-data-table__cell--non-numeric">เส้น</td>
                            <td>1</td>
                            <td>550</td>
                            <td>0</td>
                            <td>฿ 550.00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="mdl-data-table__cell--non-numeric">ยางนอกมอเตอร์ไซค์ 70/90-17 IRC</td>
                            <td class="mdl-data-table__cell--non-numeric">เส้น</td>
                            <td>1</td>
                            <td>550</td>
                            <td>0</td>
                            <td>฿ 550.00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="mdl-data-table__cell--non-numeric">ยางนอกมอเตอร์ไซค์ 70/90-17 IRC</td>
                            <td class="mdl-data-table__cell--non-numeric">เส้น</td>
                            <td>1</td>
                            <td>550</td>
                            <td>0</td>
                            <td>฿ 550.00</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td class="mdl-data-table__cell--non-numeric">ยางนอกมอเตอร์ไซค์ 70/90-17 IRC</td>
                            <td class="mdl-data-table__cell--non-numeric">เส้น</td>
                            <td>1</td>
                            <td>550</td>
                            <td>0</td>
                            <td>฿ 550.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
          <h5>รวมเป็นเงินทั้งสิ้น</h5>
        </span>
                <span class="mdl-list__item-secondary-content">
          <h5>{{ 12303 | thbCurrency:'2'}}</h5>
        </span>
            </div>
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
          <h5>ส่วนลดท้ายบิล</h5>
        </span>
                <span class="mdl-list__item-secondary-content">
          <h5>{{ 256 | thbCurrency:'2'}}</h5>
        </span>
            </div>
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
          <h5>ภาษี 7 %</h5>
        </span>
                <span class="mdl-list__item-secondary-content">
           <h5>{{ 275 | thbCurrency:'2'}}</h5>
        </span>
            </div>
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
          <h5>จำนวนเงินสุทธิ</h5>
        </span>
                <span class="mdl-list__item-secondary-content">
          <h5> {{ 25400 | thbCurrency:'2'}}</h5>
        </span>
            </div>
        </div>
    </div>


    <div>
        <essence-ng2-print [btnText]="'iframe模式打印'" [btnClass]="{'btn': true, 'btn-success': true}" [printHTML]="print_div" [printStyle]="printStyle" [printCSS]="printCSS" (printComplete)="printComplete()">
        </essence-ng2-print>
    </div>

    <div>
        <essence-ng2-print [btnText]="'iframe模式打印字符串'" [btnClass]="{'btn': true, 'btn-success': true}" [printHTML]="editorText" (printComplete)="printComplete()">
        </essence-ng2-print>
    </div>

    <div>
        <essence-ng2-print #print1 [showBtn]="false" [printHTML]="print_div" [printStyle]="printStyle" [printCSS]="printCSS" (printComplete)="printComplete()">
        </essence-ng2-print>
        <button class="btn btn-primary" (click)="customPrint('print1')">自定义打印（iframe模式）</button>
    </div>


    <div>
        <essence-ng2-print #print1 [showBtn]="false" [printHTML]="kzh_print" [printStyle]="printStyle" [printCSS]="printCSS" (printComplete)="printComplete()">
        </essence-ng2-print>
        <button class="btn btn-primary" (click)="customKzhPrint('print1')">Test Print</button>
    </div>

    <div>
        <essence-ng2-print [mode]="'popup'" [popTitle]="'表格打印'" [btnText]="'popup模式打印'" [btnClass]="{'btn': true, 'btn-warning': true}" [printHTML]="print_div" [printStyle]="printStyle" [printCSS]="printCSS" (printComplete)="printComplete()">
        </essence-ng2-print>
    </div>


    <div>
        <essence-ng2-print [mode]="'popup'" [popTitle]="'表格打印'" [btnText]="'popup test print'" [btnClass]="{'btn': true, 'btn-warning': true}" [printHTML]="kzh_print" [printStyle]="printStyle" [printCSS]="printCSS" (printComplete)="printComplete()">
        </essence-ng2-print><button class="btn btn-primary" (click)="customKzhPrint('print2')">Test pop up</button>
    </div>


    <div>
        <essence-ng2-print #print2 [mode]="'popup'" [popTitle]="'表格打印'" [showBtn]="false" [printHTML]="print_div" [printStyle]="printStyle" [printCSS]="printCSS" (printComplete)="printComplete()">
        </essence-ng2-print>
        <button class="btn btn-primary" (click)="customPrint('print2')">自定义打印（popup模式）</button>
    </div>-->
</div>