<div class="mdl-grid demo-content">
    <!-- Sale Menu -->
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <ul class="demo-list-item mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      <a class="mdl-link menu-link" [routerLink]="['/human-resource']">
                      <i class="fa fa-address-book-o" aria-hidden="true"></i> การจัดการบุคลากร (Human Resource)</a>
                    </span>
                </li>

            </ul>
        </div>
        <div class="mdl-cell mdl-cell--6-col">

        </div>
    </div>
</div>